.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: crimson;
  justify-content: center;
  width: 100%;
}

.navbar-logo {
  height: fit-content;
  width: 15%;
}

.item-count-container {
  display: flex;
  flex-direction: column;
}

.card {
  max-width: 25rem;
  margin: 2rem;
  text-align: center;
}

.item-list-container {
  display: flex;
  justify-content: center;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-group {
  justify-content: center;
}

.precio-total {
  font-size: 2rem;
  font-style: italic;
}

